*{
    margin: 0;
}

.head_fin{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 70px;
}
.head_fin_namelg{
    border: 2px solid red;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 150px;
}
.head_fin_name{
    color: #5B812E;
    font-size: 2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.head_fin_lg{
    background-image: url("./img/finance-logo1-removebg-preview.png");
    background-size: cover;
    height: 60px;
    width: 60px;
}
.head_fin_menu{
    display: flex;
}
.head_fin_acc{
    border: 2px solid red;
    background-image: url("./img/maison.png");
    background-size: cover;
    height: 50px;
    width: 50px;
}
.head_fin_trans{
    border: 2px solid red;
    background-image: url("./img/transaction\ \(1\).png");
    background-size: cover;
    height: 50px;
    width: 50px;
}
.head_fin_pani{
    border: 2px solid red;
    background-image: url("./img/panier\ \(2\).png");
    background-size: cover;
    height: 50px;
    width: 50px;
}
.head_fin_connex{
    display: flex;
    
}
.head_fin_insc{
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    background-color: #5B812E;
    color: white;
    height: 25px;
    width: 150px;
}
.head_fin_secon{
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    color: #579709;
    height: 25px;
    width: 150px;
}
.corpsgnr1{
    height: 1010px;
    background-color: #2F2235;
}
.corp1_acc{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid red;
    height: 400px;
    background-image: url("./img/610x\ \(4\)\(117\).jpeg");
    background-size: cover;
}
.corp1_acc_txt{
    color: #628e2c;
    font-size: 1.9em;
}
.corp1_acc_imgcrd{
    border: 2px solid red;
    height: 250px;
    width: 400px;
    background-image: url("./img/crd1-removebg-preview.png");
    background-size: cover;
}
.corp2_acc{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.corp2_acc_imgcrd{
    border: 2px solid red;
    background-image: url("./img/cb-relief-frontpic.webp");
    background-size: cover;
    height: 300px;
    width: 600px;
}
.corp2_acc_txt{
    color: white;
}
.corpsgnr2{
    height: 1010px;
    background-color: white;
}
.corp3_acc{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
}
.corp3_acc_txt{
    color:#2F2235;
    font-size: 2em;
}
.corp3_acc_cont{
    border:2px solid purple
}
.corp3_acc_img{
    height: 180px;
    width: 250px;
}
.corp3_acc_imgfldc{
    background-image: url("./img/fleche-vers-le-bas-courbe\ \(2\).png");
    background-size: cover;
}
.corp3_acc_imgconfim{
    background-image: url("./img/gmail-confirmation-lecture.jpeg");
    background-size: cover;
    border-radius: 20px;
}
.corp3_acc_imgfld{
    background-image: url("./img/longue-fleche-pointant-vers-la-droite.png");
    background-size: cover;
}
.corp3_acc_imginfsupp{
    background-image: url("./img/Call-Centers-Africa-1024x667.png");
    background-size: cover;
    border-radius: 20px;
}
.corp3_acc_imgfldr{
    height: 170px;
    width: 240px;
    background-image: url("./img/fleche-vers-le-bas-courbe.png");
    background-size: cover;
}
.corp3_acc_imgform{
    background-image: url("./img/form.jpeg");
    background-size: cover;
    border-radius: 20px;
}
.corp3_acc_imgcharg{
    background-image: url("./img/chargement.jpeg");
    background-size: cover;
}
.corp3_acc_imglvr{
    background-image: url("./img/lvr.jpeg");
    background-size: cover;
    border-radius: 20px;
}
.corp3_acc_imgflg{
    background-image: url("./img/longue-fleche-pointant-vers-la-droite\ \(1\).png");
    background-size: cover;
}
.corp3_acc_imgrdv{
    background-image: url("./img/importance-prise-rdv-efficace-entreprise.jpeg");
    background-size: cover;
    border-radius: 20px;
}
.corp3_acc_imgflgr{
    background-image: url("./img/fleche-vers-le-bas-courbe\ \(1\).png");
    background-size: cover; 
}
.foot{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border: 2px solid yellow;
    background-color: black;
}
.foot_comm_txt{
    color: white;
}
.foot_cop{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.foot_rs_txt{
    color: white;
}
.foot_rs_lg{
    display: flex;
    justify-content: center;
}
.foot_rs_lg_inst{
    background-image: url("./img/instagram\ \(1\).png");
    background-size: cover;
    height: 35px;
    width: 35px;
}
.foot_rs_lg_fb{
    background-image: url("./img/facebook\ \(1\).png");
    background-size: cover;
    height: 35px;
    width: 35px;
}
.foot_rs_lg_in{
    background-image: url("./img/linkedin.png");
    background-size: cover;
    height: 35px;
    width: 35px;
}







/**************seconnecter********seconnecter***********seconnecter**********seconnecter********/
.bodsecon{
    background-color: #2f223549;
}
.fmsecon{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    background-color: #2F2235;
    margin: 80px auto;
    height: 450px;
    width: 350px;
}
.fmsecon_lguser_cont{
    display: flex;
    justify-content: center;
}
.fmsecon_lguser{
    height: 120px;
    width: 120px;
    background-image: url('./img/utilisateur\ \(1\).png');
    background-size: cover;
}
.fmsecon_txt{
    color: white;
}
.fmsecon_cont_idmt{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 220px;
}
.fmsecon_cont_idmt1{
    height: 40px;
    width: 250px;
    border-radius: 8px;
    border: none;
    font-size: 1.1em;
    color: #2F2235;
}
.fmsecon_cont_idmt2{
    height: 40px;
    width: 250px;
    border-radius: 8px;
    border: none;
    font-size: 1.1em;
    color: #2F2235;
}
.fmsecon_idmt{
    color: white;
    font-size: 1.4em;
}
.fmsecon_subm{
    display: flex;
    justify-content: center;
}
.fmsecon_subm_{
    border: none;
}
.fmsecon_vstxt{
    color: rgba(255, 255, 255, 0.444);
}
.fmsecon_sintxt{
    color: white;
    font-size: 1.2em;
}






/**************inscription********inscription***********inscription**********inscription********/
.bodinsc{
    background-color: #2f223549;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.fminsc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    width: 350px;
    background-color: #2F2235;
}
.insc_txt{
    color: white;
}
.fminsc_txt_cont{
    height: 35px;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    color: #2F2235;
    font-size: 1.1em;
    border:none;
}
.btn_insc_cont{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.btn_insc{
    height: 40px;
    width: 140px;
    border-radius: 10px;
    border:none;
    background-color: #5B812E;
    color:white;
}
.fmseinsc_vstxt{
    color:rgba(255, 255, 255, 0.521);
}
.fmsinsc_secontxt{
    color: white;
}




/**************accueil********accueil***********accueil**********accueil********/
.mnacc{
    background-color: #2F2235;
    border: 2px solid red;
    height: 2000px;
    color: white;
}
.nameuser{
    color: white;
    font-size: 1.5em;
}
.inf_part1_cont{
    border: 2px solid rgb(137, 175, 34);
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inf_part1{
    border: 2px solid white;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inf_cont{
    height: 500px;
    border: 2px solid goldenrod;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.inf_cont_txt{
    border: 2px solid red;
    display: flex;
    justify-content: center;
    font-size: 1.1em;
}
.inf_form{
    border: 2px solid red;
    display: flex;
    justify-content:space-around;
    width: 550px;
    height: 370px;
    font-size: 2em;
}
.inf_form_al{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cscl_cont{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    border: 2px solid red;
    height: 200px;
    width: 250px;
}
.cscl_al{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}
.csclimg{
    border: 2px solid red;
    height: 50px;
    width: 50px;
}
.cscl_lgtel{
    border: 2px solid red;
    height: 50px;
    width: 50px;
}
.cscl_lgmsg{
    border: 2px solid red;
    height: 50px;
    width: 50px;
}
.inf_graph{
    border: 2px solid #72aa3b;
    height: 250px;
    width: 700px;
}