*{
    margin: 0;
}

.head_fin{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1d0827;
    height: 70px;
}
.head_fin_namelg{
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 150px;
}
.head_fin_name{
    color: #5B812E;
    font-size: 2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.head_fin_lg{
    background-image: url("./img/finance-logo1-removebg-preview.png");
    background-size: cover;
    height: 60px;
    width: 60px;
}
.head_fin_menu{
    display: flex;
}
.head_fin_acc{
    
    background-image: url("./img/maison.png");
    background-size: cover;
    height: 50px;
    width: 50px;
}
.head_fin_trans{
    
    background-image: url("./img/transaction\ \(1\).png");
    background-size: cover;
    height: 50px;
    width: 50px;
}
.head_fin_pani{
    
    background-image: url("./img/panier\ \(2\).png");
    background-size: cover;
    height: 50px;
    width: 50px;
}
.head_fin_connex{
    display: flex;
    
}
.head_fin_insc{
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    background-color: #5B812E;
    color: white;
    height: 25px;
    width: 150px;
}
.head_fin_secon{
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    color: #579709;
    height: 25px;
    width: 150px;
}
.corpsgnr1{
    height: 1010px;
    background-color: #2F2235;
}
.corp1_acc{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    height: 400px;
    background-image: url("./img/610x\ \(4\)\(117\).jpeg");
    background-size: cover;
}
.corp1_acc_txt{
    color: #628e2c;
    font-size: 1.9em;
}
.corp1_acc_imgcrd{
    
    height: 250px;
    width: 400px;
    background-image: url("./img/crd1-removebg-preview.png");
    background-size: cover;
}
.corp2_acc{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.corp2_acc_imgcrd{
    
    background-image: url("./img/cb-relief-frontpic.webp");
    background-size: cover;
    height: 300px;
    width: 600px;
}
.corp2_acc_txt{
    color: white;
}
.corpsgnr2{
    height: 1010px;
    background-color: white;
}
.corp3_acc{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
}
.corp3_acc_txt{
    color:#2F2235;
    font-size: 2em;
}
.corp3_acc_cont{
    border:2px solid purple
}
.corp3_acc_img{
    height: 180px;
    width: 250px;
}
.corp3_acc_imgfldc{
    background-image: url("./img/fleche-vers-le-bas-courbe\ \(2\).png");
    background-size: cover;
}
.corp3_acc_imgconfim{
    background-image: url("./img/gmail-confirmation-lecture.jpeg");
    background-size: cover;
    border-radius: 20px;
}
.corp3_acc_imgfld{
    background-image: url("./img/longue-fleche-pointant-vers-la-droite.png");
    background-size: cover;
}
.corp3_acc_imginfsupp{
    background-image: url("./img/Call-Centers-Africa-1024x667.png");
    background-size: cover;
    border-radius: 20px;
}
.corp3_acc_imgfldr{
    height: 170px;
    width: 240px;
    background-image: url("./img/fleche-vers-le-bas-courbe.png");
    background-size: cover;
}
.corp3_acc_imgform{
    background-image: url("./img/form.jpeg");
    background-size: cover;
    border-radius: 20px;
}
.corp3_acc_imgcharg{
    background-image: url("./img/chargement.jpeg");
    background-size: cover;
}
.corp3_acc_imglvr{
    background-image: url("./img/lvr.jpeg");
    background-size: cover;
    border-radius: 20px;
}
.corp3_acc_imgflg{
    background-image: url("./img/longue-fleche-pointant-vers-la-droite\ \(1\).png");
    background-size: cover;
}
.corp3_acc_imgrdv{
    background-image: url("./img/importance-prise-rdv-efficace-entreprise.jpeg");
    background-size: cover;
    border-radius: 20px;
}
.corp3_acc_imgflgr{
    background-image: url("./img/fleche-vers-le-bas-courbe\ \(1\).png");
    background-size: cover; 
}
.foot{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: black;
}
.foot_comm_txt{
    color: white;
}
.foot_cop{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.foot_rs_txt{
    color: white;
}
.foot_rs_lg{
    display: flex;
    justify-content: center;
}
.foot_rs_lg_inst{
    background-image: url("./img/instagram\ \(1\).png");
    background-size: cover;
    height: 35px;
    width: 35px;
}
.foot_rs_lg_fb{
    background-image: url("./img/facebook\ \(1\).png");
    background-size: cover;
    height: 35px;
    width: 35px;
}
.foot_rs_lg_in{
    background-image: url("./img/linkedin.png");
    background-size: cover;
    height: 35px;
    width: 35px;
}







/**************seconnecter********seconnecter***********seconnecter**********seconnecter********/
.bodsecon{
    background-color: #2f223549;
}
.fmsecon{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    background-color: #2F2235;
    margin: 80px auto;
    height: 450px;
    width: 350px;
    box-shadow: 10px 10px 5px 0px rgba(206, 203, 203, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(68, 49, 83, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(238, 226, 226, 0.75);
}
.fmsecon_lguser_cont{
    display: flex;
    justify-content: center;
}
.fmsecon_lguser{
    height: 120px;
    width: 120px;
    background-image: url('./img/utilisateur\ \(1\).png');
    background-size: cover;
}
.fmsecon_txt{
    color: white;
}
.fmsecon_cont_idmt{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 220px;
}
.fmsecon_cont_idmt1{
    height: 40px;
    width: 250px;
    border-radius: 8px;
    border: none;
    font-size: 1.1em;
    color: #2F2235;
}
.fmsecon_cont_idmt2{
    height: 40px;
    width: 250px;
    border-radius: 8px;
    border: none;
    font-size: 1.1em;
    color: #2F2235;
}
.fmsecon_idmt{
    color: white;
    font-size: 1.4em;
}
.fmsecon_subm{
    display: flex;
    justify-content: center;
}
.fmsecon_subm_{
    border: none;
}
.fmsecon_vstxt{
    color: rgba(255, 255, 255, 0.444);
}
.fmsecon_sintxt{
    color: white;
    font-size: 1.2em;
}






/**************inscription********inscription***********inscription**********inscription********/
.bodinsc{
    background-color: #2f223549;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.fminsc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    width: 350px;
    background-color: #2F2235;
}
.insc_txt{
    color: white;
}
.fminsc_txt_cont{
    height: 35px;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    color: #2F2235;
    font-size: 1.1em;
    border:none;
}
.btn_insc_cont{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.btn_insc{
    height: 40px;
    width: 140px;
    border-radius: 10px;
    border:none;
    background-color: #5B812E;
    color:white;
}
.fmseinsc_vstxt{
    color:rgba(255, 255, 255, 0.521);
}
.fmsinsc_secontxt{
    color: white;
}




/**************accueil********accueil***********accueil**********accueil********/
.mnacc{
    background-color: #2F2235;
    
    height: 2000px;
    color: white;
}
.nameuser{
    color: white;
    font-size: 1.5em;
}
.inf_part1_cont{
    
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inf_part1{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inf_cont{
    height: 480px;
    border: 3px solid #402f47;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.inf_cont_txt{
    border: 4px dotted #402f47;
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    width: 400px;
}
.inf_form{
    background-color: #402f47;
    display: flex;
    justify-content:space-around;
    width: 550px;
    height: 370px;
    font-size: 2em;
}
.inf_form_al{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cscl_cont{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #402f47;
    height: 300px;
    width: 350px;
}
.cscl_txt{
    background-color: #37273f;
    border-radius: 15px;
    height: 40px;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cscl_als{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cscl_al{
    display: flex;
    align-items: center;
    border: 2px solid #402f47;
    width: 200px;
}
.csclimg{
    
    background-image: url("./img/Le-Colorisme-et-la-Femme-Noire-Comment-le-Surmonter-en-6-points-naturalsaramaya-discrimination-cheveux-afro-racisme-voyage-afrique-communaute-coiffures-soin-1.png");
    background-size: cover;
    border-radius: 50px;
    height: 50px;
    width: 50px;
}
.cscl_lgtel{
    
    background-image: url("./img/telefono.png");
    background-size: cover;
    height: 50px;
    width: 50px;
}
.cscl_lgmsg{
    
    background-image: url("./img/correo.png");
    background-size: cover;
    height: 50px;
    width: 50px;
}
.inf_graph{
    background-image: url("./img/GIF_Cashlab.gif");
    background-size: cover;
    height: 250px;
    width: 700px;
}
.inf_offr_cont{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
}
.inf_offr_txt_cont{
    
    width: 100%;
}
.inf_offr_txt{
    font-size: 4.5em;
    text-align: center;
    margin-right: 600px;
}
.inf_cart{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 800px;
}
.inf_cont_crd{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 350px;
}
.inf_crd1{
    background-image: url("./img/second_carte_effect-removebg-preview.png");
    background-size: cover;
    height: 270px;
    width: 420px;
    
}
.inf_crd2{
    background-image: url("./img/crdba-removebg-preview.png");
    background-size: cover;
    height: 270px;
    width: 420px;
}
.inf_crd3{
    background-image: url("./img/crdinf-removebg-preview.png");
    background-size: cover;
    height: 270px;
    width: 420px;
}
.inf_crd4{
    background-image: url("./img/crdnsia-removebg-preview.png");
    background-size: cover;
    height: 270px;
    width: 420px;
}

.inf_voirlien{
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    font-size: 2.2em;
    color: white;
    list-style-type: none;
    text-decoration: none;
    background-color: #5B812E;
    border-radius: 20px;
    height: 60px;
    width: 180px;
}





/**************transaction********transcaton***********transaction**********transacion********/
.bod_trans{
    height: 2800px;
    background-color: #2F2235;
    color: white;
}
.cont_trans_form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}
.trans_form_ps{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B591BE;
    width: 350px;
    height: 600px;
}
.trans_form{
    color: #2F2235;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 550px;
    width: 300px;
}
.trans_form_ps1{
    display: flex;
}
.trans_form_ps_labinp{
    display: flex;
    flex-direction: column;
}
hr{

}
.trans_form_modpay_txt_cont{
   
}
.trans_form_modpay_txt{
    display: flex;
    align-items: center;
}
.trans_form_modpay_txtil{
    display: inline-block;
    background-color: white;
    width: 85px;
    height: 1px;
}
.trans_form_lgrs{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}
.trans_imgMTN{
    background-image: url('./img/mtn_MoMo-1024x812.png');
    background-size: cover;
    border-radius: 15px;
    height: 70px;
    width: 80px;
    margin-right: 10px;
}
.trans_imgORG{
    background-image: url('./img/orange.png');
    background-size: cover;
    border-radius: 15px;
    height: 55px;
    width: 55px;
    margin-right: 10px;
}
.trans_imgMOOV{
    background-image: url('./img/moov.png');
    background-size: cover;
    border-radius: 15px;
    height: 60px;
    width: 60px;

}
.trans_form_modpay{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.trans_form_btn{
    display: flex;
    justify-content: space-around;
}
.trans_corpsgnr2{
    border: 2px solid red;
}
.trans_corp3_acc_txt{
    color:#FFFFFF;
    font-size: 2em;
}
.trans_corp3_acc_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 600px;
    border: 2px solid #579709;
    background-color: #B591BE;
}
.trans_corp3_acc_table{
    border: 2px solid #FFFFFF;
    width: 950px;
    height: 550px;
}
.trans_etp_detl{
    font-size: 2em;
}
.trans_etp_cont{
    display: flex;
}
.trans_etp{
    display: flex;
    flex-direction: column;
}
.trans_etp_img1{
    height: 320px;
    width: 300px;
    background-image: url('./img/form.jpeg');
    background-color: cover;
}
.trans_etp_img2{
    height: 100px;
    width: 150px;
    background-image: url('./img/gmail-confirmation-lecture.jpeg');
    background-color: cover;
}
.trans_etp_img3{
    height: 100px;
    width: 150px;
    background-image: url('./img/Call-Centers-Africa-1024x667.png');
    background-color: cover;
}
.trans_etp_img4{
    height: 100px;
    width: 150px;
    background-image: url('./img/chargement.jpeg');
    background-color: cover;
}
.trans_etp_img5{
    height: 100px;
    width: 150px;
    background-image: url('./img/importance-prise-rdv-efficace-entreprise.jpeg');
    background-color: cover;
}
.trans_etp_img6{
    height: 100px;
    width: 150px;
    background-image: url('./img/lvr.jpeg');
    background-color: cover;
}
